<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<div class="orbit clean-hero-slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <%= image_tag(image_path_for('front_banner.png'), class: 'orbit-image') %>
          <figcaption class="orbit-caption">
            <h3><%= t("layouts.header.open_city_title") %></h3>
            <p><%= t("layouts.header.open_city_slogan_html") %></p>
            <%= link_to t("shared.more_info"), help_path, class: "button yellow" %>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>

